<div class="col-md-6 col-sm-8">
  <form ng-submit="viewModel.onSubmit()">
    <div role="alert" ng-show="viewModel.formError" class="alert alert-danger">
      {{ viewModel.formError }}
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="viewModel.credentials.username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="viewModel.credentials.password" />
    </div>
    <button type="submit" class="btn btn-default">Sign In</button>
  </form>
</div>
