<navigation-bar></navigation-bar>
<div class="project-page-container">

  <div style="width:100%; height:auto; text-align:center;">
    <h2>{{ viewModel.project.name }}</h2>
  </div>

  <div class="glyphicon glyphicon-menu-left" style="float:left; margin-left:5px; margin-bottom:15px;" ng-click="viewModel.previousProject()"></div>
  <span class="glyphicon glyphicon-menu-right" style="float:right; margin-right:5px;" ng-click="viewModel.nextProject()"></span>

  <div ng-repeat="item in viewModel.blogItems">
    <embeded-video ng-if="item.type === 'video'" embeded-url="item.content"></embeded-video>
    <text-block ng-if="item.type === 'text'" content="item.content"></text-block>
    <underline-page-break ng-if="item.type === 'pageBreak'"></underline-page-break>
    <cover-image ng-if="item.type === 'coverImage'" content="item.content"></cover-image>
    <image-gallery ng-if="item.type === 'gallery'" content="item.contentArray" selected-image="viewModel.lightboxImage"></image-gallery>
  </div>
</div>

<image-lightbox content="viewModel.lightboxImage"></image-lightbox>
