body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.flex-group-container {
  width: 100%;
  display: flex; }
  .flex-group-container .flex-item-container {
    padding: 5px; }
    .flex-group-container .flex-item-container img {
      width: 100%;
      height: auto; }
