/* Firefox uses .ttf. Must include web kit for fonts to work.*/
@font-face{
	font-family: 'openSansLight';
	src: url('/fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot');
	src: url('/fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('/fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
	     url('/fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('/fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.svg#webfont') format('svg');
}

body{
  padding: 50px;
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  color:rgb(35, 35, 35);
  font-family: "openSansLight", "Oxygen", sans-serif;
}

a{
  color: #00B7FF;
  text-decoration:none;
}

.flex-group-container {
  width:100%;
  display:flex;

  .flex-item-container{
    position:relative;
    margin:5px;

    img{
      width:100%;
      height:auto;
    }
  }
}

.project-cover-image{
  min-width:100%;
  min-height:100%;
  position:absolute;
  top:0;
  left:0;
	background-color: white;

  opacity: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.project-cover-image:hover{
  opacity:0.8;
}

// How to make this opacity 1 when parent box is 0.5.
.project-cover-text{
  position:absolute;
  top:50%;
  left:0;
  min-width:100%;
  min-height:50%;
  text-align: center;
  font-size: 1.25em;
  color:black;
}

.page-container{
  width:100%;
  margin:0 auto;
}

.home-page-container{
	@extend .page-container;
	max-width:2000px;
}

.project-page-container{
	@extend .page-container;
	max-width:1600px;
}
