.gallery-thumb-container {
  display: flex;
  width: 100%; }

.gallery-thumb-column {
  flex: 1; }

.gallery-thumb-item {
  padding: 5px;
  position: relative; }
  .gallery-thumb-item img {
    width: 100%;
    height: auto; }
  .gallery-thumb-item :hover {
    cursor: pointer; }

.thumb-hover-screen {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out; }
  .thumb-hover-screen:hover {
    opacity: 0.5; }

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1; }
