.navbar-default .navbar-nav > .active{
   color: #000;
  background: white;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     color: #000;
     background: white;
} .navbar-default .navbar-nav > .active{
    color: #000;
   background: white;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: white;
 }

.navbar-default{
	background-color:white;
	opacity: 1;
	letter-spacing:0.11em;
	text-align: center;

	box-shadow: 0px 0px 10px #888888;
}

.navbar .nav,
.navbar .nav > li {
    margin:0 5px;
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
}

.navbar .nav > li > a {
	opacity: 1;
	padding-bottom: 8px;
}

.navbar .nav > li > a:hover {
	color: black;
	cursor: pointer;
}
