<!-- DEPENDENCY: Must use together with the image-lightbox directive. GalleryThumbClick binds the selected image with the outside caller -->

<div class="gallery-thumb-container">
  <div class="gallery-thumb-column" ng-repeat="thumbColumn in ctrl.imageThumbs">
    <div class="gallery-thumb-item" ng-repeat="image in thumbColumn" ng-click="ctrl.GalleryThumbClick(image);" data-toggle="modal" data-target="#lightbox">
      <img
        src="{{image}}"
        ng-mouseenter="ctrl.hoveredThumbIndex = ($index * ctrl.imageThumbs.length) + $parent.$index"
        ng-mouseleave="ctrl.hoveredThumbIndex = -1"
      />
      <div class="thumb-hover-screen" ng-class="{ 'show': ctrl.hoveredThumbIndex === ($index * ctrl.imageThumbs.length) + $parent.$index }"></div>
    </div>
  </div>
</div>
