<navigation-bar></navigation-bar>

<div class="home-page-container">
  <embeded-video embeded-url="viewModel.videoLink" ng-show="viewModel.showVideo"></embeded-video>
  <underline-page-break ng-show="viewModel.showVideo"></underline-page-break>
  <div class="flex-group-container" ng-repeat="row in viewModel.projects">
    <div class="flex-item-container" style="flex:{{ project.aspect }}" ng-repeat="project in row">
      <a href="/projects/{{ project.id }}">
        <img src="{{ project.image }}"></img>
        <div class="project-cover-image">
          <div class="project-cover-text">{{ project.name }}</div>
        </div>
      </a>
    </div>
  </div>
</div>
